.todo-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
}

.todo-input {
    width: 600px;
}

.todo-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
    height: 70vh;
    overflow-y: auto;
}

li{
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    align-items: center;
}

li span{
    flex-grow: 1;
}

.todo-btn{
    display: flex;
    gap: 10px;
}

.update-btn,
.save-btn {
    background-color: #4CAF50;
    color: white;
}

.modal-menu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: white;
}

.modal-btn{
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

.delete-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
}

.delete-btn:hover {
    background-color: #ff7875;
}

.todo-container.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.delete-all-container {
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}